<div class="container">
  <div class="jumbotron mt-5">
    <h1 class="display-4">Welcome to Smart Events!</h1>
    <p class="lead">
      A platform that enhances the user experience for event participants and
      event organizers.
    </p>
    <hr class="my-4" />
    <p>Join us to participate in exciting events and share your experiences.</p>
    <!-- <a class="btn btn-primary btn-lg" href="/signup" role="button"
      >Register Now</a
    > -->
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>Gather Data</h2>
      <p>
        Our platform allows for efficient data collection from participants,
        providing valuable insights for event organizers.
      </p>
    </div>
    <div class="col-md-4">
      <h2>View Events</h2>
      <p>
        Participants can easily browse and attend events. Our platform provides
        a seamless experience from registration to feedback.
      </p>
    </div>
    <div class="col-md-4">
      <h2>Provide Feedback</h2>
      <p>
        After attending events, participants can provide feedback, helping
        organizers to improve future events.
      </p>
    </div>
  </div>
</div>
